.BeginninCardContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem 2rem;
    max-width: 400px;
    min-width: 400px;
}

.BeginninCardContainer-icon img{
    max-width: 90px;
    margin-right: 1rem;
}

.BeginninCardContainer-text p   {
    font-family: 'Cotton Butter', sans-serif;
    font-size: 2rem;
    line-height: 1;
}

@media (max-width: 1400px) {

    .BeginninCardContainer{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 1rem;
        max-width: 300px;
    }
    
    .BeginninCardContainer-icon img{
        max-width: 50px;
    }
    
    .BeginninCardContainer-text p   {
        font-size: 2rem;
        line-height: 1;
    }
  }
