.resources-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.resources-container-data{
    display: flex;
    flex-direction: row;
}

/* Estilos para vista móvil */
@media (max-width: 600px) {
    .resources-container-data {
      flex-direction: column; /* Cambia la dirección de flexbox a columna */
      align-items: center; /* Centre los elementos */
    }
  }