.formation-container{

    display: flex;
    margin-top: 10rem;
    padding-left: 3rem;
    justify-content: left;
    align-items: baseline;
    flex-direction: column;
}
.formation-container__text h1, p{
    text-align: left;
}


.timeline-formation{
    width: 100vw;
    justify-content: right;
    flex: 0;
    
    padding: 0;
}