.testimonialProfile-section-bottom {
    margin-top: 2rem;
    background-color: white;
    padding: 1.5rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 750px;
    border-radius: 2rem;
    flex-direction: column;
    text-align: center;
  }
  .testimonialProfile-section-bottom {
    margin: 2rem auto;
  }
  .testimonialProfile-section-bottom p {
    font-weight: 700;
    color: #515151;
    max-width: 500px;
    font-size: 1.1rem;
    margin: 2rem 0rem;
  }

  .testimonialProfile-section-bottom h2 {
    margin-top: 1.5rem;
  }

  .testimonialProfile-section-bottom img {
    border-radius: 100px;
  }

  .work-section-top h1{
    max-width: 800px;
    min-width: 1000px;
  }

  .work-section-top img{
    margin: 2rem 2rem;
  }

  .work-section-top p{
    max-width: 800px;
    min-width: 1000px;
  }    