.aboutRight-container {
  margin-bottom: 5rem;
}

.aboutRight-container__background{
  position: absolute;
    top: 1100px;
    right: -150px;
    z-index: -2;
    max-width: 1000px;
}


.aboutRight-banner-container {
  margin-top: 15rem;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 3rem;

}

.aboutRight-image-section {
  position: relative;
  max-width: 700px;
  flex: 1;
  margin-right: 3rem;
  top: 20px;
}

.aboutRight-text-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 1000px;
}

.aboutRight-text-section h1{
    margin-bottom: 2rem;
    text-align: center;
    font-size: 9rem;
}

.aboutRight-text-section p{
  margin-bottom: 2rem;
  text-align: left;
  max-width: 700px;

}

.aboutRight-text-section button{
  margin-top: 2rem;

}

@media (max-width: 1400px) {

  .aboutRight-image-section {
    position: relative;
    max-width: 600px;
    margin-left: 1rem;
    
  }
  
  .aboutRight-text-section p, h1{
    margin: 2rem 0;
  }

  .aboutRight-text-section{
    margin-right: 1rem;
  }
}