.home-banner-container {
    position: relative;
    display: flex;
    padding-top: 3rem;
  }
  .home-bannerImage-container {
    position: absolute;
    top: -100px;
    right: -170px;
    z-index: -2;
    max-width: 500px;
  }
  .home-image-section {
    position: absolute;
    max-width: 1200px;
    z-index: -2;
    flex: 1;
    right: -170px;
    top: 200px;
  }
  .home-text-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: flex-start;
  }
  

  .home-text-section p{
    text-align: left;
  }

  .home-text-section {
    justify-content: center;
  }