@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


.home-image-section,
.home-text-section {
  animation: fadeIn 2s ease-in-out forwards; /* Aplicar la animación de aparición suave a estos elementos */
}

.home-banner-container {
    position: relative;
    display: flex;
    flex-direction: row;
    padding-top: 3rem;
  }
  .home-bannerImage-container {
    position: absolute;
    top: -100px;
    right: -150px;
    z-index: -2;
    max-width: 800px;
  }
  .home-image-section {
    padding-top: 4rem;
    position: relative;
    width: 50%;
    height: 100%;
  }

  .home-text-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: flex-start;
  }
  
  

  .home-text-section p{
    text-align: left;
  }

  .home-text-section {
    justify-content: center;
  }

  @media (max-width: 1450px) {
    .home-image-section {
      position: relative;
      padding-left: 3rem;
      max-width: 600px;
      padding-top: 7rem;
    }   
    .home-banner-container {
      position: relative;
      display: flex;
      padding-top: 1rem;
    }

    .home-text-section img{
      max-width: 350px;
    }

    .home-text-section {
      max-width: 500px;
    }
  }