.StrategicAxisComponent-container{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.StrategicAxisComponent-container-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.StrategicAxisComponent-container-text p{
   max-width: 80%;
}

.StrategicAxisComponent-container-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.StrategicAxisComponent-container-button{
    margin-top: 5rem;
}