.programa-container {
  display: flex;
  flex-direction: column; /* Cambie la dirección de flexbox a columna */
  text-align: center; /* Centre el texto */
  align-items: center; /* Centre los elementos */
}

.programa-container-top h1{
  margin-top: 10rem;
  line-height: 1;
  max-width: 1200px;
  margin-bottom: 4rem;
}

.programa-container-top p{

  max-width: 1200px;
}




@media (max-width: 600px) {
  /* Ajustes para la vista móvil */

  .work-section-top {
    flex-direction: column; /* Cambie la dirección de flexbox a columna */
    text-align: center; /* Centre el texto */
    align-items: center; /* Centre los elementos */
  }

  .programa-container-top p {
    max-width: 400px; /* Reduzca el ancho máximo del párrafo */
    text-align: justify;
  }

  .programa-container-top h1 {
    margin-top: 4rem;
    line-height: 1;
    font-size: 3rem;
    max-width: 400px;
  }
}
